@model AutoModel

<h1>Add a new Car to the list</h1>

@using (Html.BeginForm()) 
{
<div class="form-horizontal">
    <h4>Auto</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.Merk, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Merk, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Merk,"",new { @class="text-danger"})
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Type, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KilometerStand, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.KilometerStand, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KilometerStand, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Add Car" class="btn btn-default" />
        </div>
    </div>
</div>
}