@model IEnumerable<AutoModel>

<table>
    <tr>
        <th>Merk</th>
        <th>Type</th>
        <th>Kmstand</th>
        <th>Details</th>
    </tr>
    @foreach (AutoModel autoModel in Model)
    {
        <tr>
            <td>@autoModel.Merk</td>
            <td>@autoModel.Type</td>
            <td>@autoModel.KilometerStand</td>
            <td>@Html.ActionLink("Go to Details","Detail","Demo",new { id=autoModel.Id }, new { @class="btn btn-primary" })</td>
        </tr>
    }
</table>
@Html.ActionLink("Add new Car", "AddAuto","Auto",null,new{@class="btn btn-primary"})